.intro2 {
    font-size: larger;
    text-align: center;
}

.h1 {
    color: #f7325f;
}

.plan1 {
    align-content: center;
}

.p {
    color: #7dc410;
}

.p3 {
    text-align: center;
}

body {
    font-family: fantasy;
    color: #7dc410;
}


}